@using InfomationManagementCendrisWebApp.Models
@model IEnumerable<Activiteit>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.title = "Hulp Bieden";
}


<h2>Openstaande Hulpvragen</h2>

@foreach (Activiteit activity in Model)
{

    <table class="table table-striped table-bordered">
        <tr>
            <th>Activiteit ID</th>
            <td>@activity.id</td>
            <td></td>
        </tr>
        <tr>
            <th>Activiteit</th>
            <td>@activity.activity</td>
            <td>@Html.ActionLink("Inschrijven", "ActiviteitenInfo", new { id=activity.id })</td>
        </tr>
        <tr>
            <th>Locatie</th>
            <td>@activity.location</td>
            <td></td>
        </tr>
    </table>
}


