@{
    ViewBag.Title = "Homepage";
}

<header class="intro-header" style="background-image: url(../../Content/Images/header.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1></h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Stichting Goed doen voor een ander is er om mensen met elkaar te verbinden. Op momenten waarop hier behoefte aan is. Doorgaans zijn dit momenten waarin een persoon of groep personen zich in een uitdagende levenssituatie(s) bevinden.</p>
            <p>Stichting Goed doen voor een ander heeft aandacht voor ‘elkaar helpen’ en vind dit noodzakelijk voor het welzijn van ieder individu. Het doel van de stichting is het activeren, motiveren en stimuleren van personen om anderen te helpen, wanneer hier bewust of onbewust behoefte aan is. Met als grondslag universele liefde.</p>
        </div>
    </div>
</div>