@{
    ViewBag.Title = "Homepage";
}

<div class="jumbotron">
    <h1>Plaatje?</h1><h2>Belangrijke tekst over Stichting?</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Donnie Pizza</h2>
        <p>A nice pepperoni pizza from Dr. Oetker - Powered by Donnie</p>
        <p>Pizza is Love, Pizza is Life</p>
        <p><a class="btn btn-default" href="https://www.google.nl/search?q=pizza&safe=active&client=firefox-b-ab&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiunMCr1bXSAhVsI8AKHf1HAhsQ_AUICCgB&biw=1920&bih=971">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>To Do</h2>
        <p>- Database (MySQL? Iets anders?)</p>
        <p>- Verbinding maken met database</p>
        <p>- Registratie voor verschillende customer groups</p>
        <p>- Verschillende controllers voor customer groups</p>
        <p>- Verschillende customers groups naar de juiste pagina's leiden (routing)</p>
    </div>
    <div class="col-md-4">
        <h2>To Do</h2>
        <p>- Registratie voor verschillende customer groups</p>
        <p>- Verschillende controllers voor customer groups</p>
        <p>- Verschillende customers groups naar de juiste pagina's leiden (routing)</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ouderen</h2>
        <p>- Strip aanschaffen</p>
        <p>- Activiteit aanmelden?</p>
    </div>
    <div class="col-md-4">
        <h2>Vrijwilligers</h2>
        <p>- Feed met openstaande activiteiten -> Mogelijkheid tot meer info bij klikken op activiteit</p>
        <p>- Aanmelden voor activiteit</p>
        <p>- Verzilveren activiteit</p>
        <p>- Kunnen kiezen voor korting/cadeau van bepaalde sponsor</p>
    </div>
    <div class="col-md-4">
        <h2>Bedrijven</h2>
        <p>- Kunnen aangeven hoe ze willen sponsoren</p>
        <p>- Kunnen mogelijke acties weghalen</p>
    </div>
</div>