@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Opzetten activiteit voor ouderen</h4>

@using (Html.BeginForm("Dashboard", "AskForHelp", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <label class="col-md-2 control-label">Naam</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="naam" id="naam" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Activiteit</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="activiteit" id="activiteit" placeholder="Bijvoorbeeld: Wandelen"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Verzorgingstehuis</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="tehuis" id="tehuis" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Adres</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="adres" id="adres" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Locatie Activiteit</label>
        <div class="col-md-10">
            <input class="form-control" type="text" name="locatie" id="locatie" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Datum en tijd</label>
        <div class="col-md-10">
            <input class="form-control" type="datetime" name="datum" id="datum" placeholder="06/05/2017 13:00"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tijdsduur (in uren)</label>
        <div class="col-md-10">
            <input class="form-control" type="number" name="uren" id="uren" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success form-control" value="Bevestig activiteit" />
        </div>
    </div>
}


